---
export const prerender = true;

export async function getStaticPaths() {
  return [
    { params: { slug: 'vipul-talari' } },
    { params: { slug: 'test-designer' } },
  ];
}

const { slug } = Astro.params;
---

<h1>Designer page</h1>
<p>Slug: {slug}</p>
