---
export async function getStaticPaths() {
  return [
    { params: { slug: 'vipul-talari' } }
  ];
}

const { slug } = Astro.params;
---

<!DOCTYPE html>
<html>
  <head>
    <title>Designer {slug}</title>
  </head>
  <body>
    <h1>Designer Page</h1>
    <p>Slug: {slug}</p>
  </body>
</html>
