---
export const prerender = true;

export async function getStaticPaths() {
  return [
    { params: { slug: "vipul-talari" } }
  ];
}

const { slug } = Astro.params;
---

<h1>Designer page is alive</h1>
<p>Slug: {slug}</p>
